@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&display=swap');
body {
    padding: 10px;
    margin: 0;
    background-color: rgba(40, 73, 10, 0.925);
    font-family: 'Kanit',sans-serif;
    text-align: center;
    color: white;
}
.content {
    width: 100%;
}
.content img {
    border: 3px solid black;
    max-width: 35em;
    float: center;
}
.content button {
    padding: 7px;
    margin-top: 10px;
    background-color: white;
}
.location-form input {
    padding: 5px;
    width: 30%;
    max-width: 12em;
}
.user-input {
    border-radius: 5px;
    border: 2px solid black;
    font-family: 'Kanit', sans-serif;
}
#countdown {
    font-size: 100px;
    letter-spacing: 10px;
    text-shadow: 0 0 10px black;
    padding: 0;
    margin: 0.4em;
    margin-top: 0;
}
.reference {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 15em;
    margin: 0 auto;
}
@media only screen and (max-width: 500px) {
    #countdown {
        font-size: 68px;
        text-shadow: 0 0 5px black;
    }
}
@media only screen and (max-width: 400px) {
    #countdown {
        font-size: 55px;
        text-shadow: 0 0 5px black;
    }
}
@media only screen and (max-width: 350px) {
    #countdown {
        font-size: 45px;
    }
    .user-input {
        font-size: 10px;
    }
    .subtitles {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1400px) {
    .subtitles {
        font-size: 20px;
    }
    #countdown {
        font-size: 130px;
    }
}
.options {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-top: 0;
    border: 2px solid white;
    border-radius: 5px;
    height: max-content;
    width: max-content;
    margin: 10px;
    text-align: right;
}
.resized-options {
    text-align: center;
    position: relative;
    float: initial;
    margin: auto;
}

